@charset "UTF-8";
@font-face {
    font-family: 'shalimar';
    src: url(Shalimar-Regular.ttf);
}
body{
    font-family: 'shalimar';
    background-image:linear-gradient( to bottom, rgb(239, 224, 239), rgb(194, 148, 194), rgb(145, 87, 145));
    background-attachment: fixed;
    font-size: 2em;
}
section{
  margin:auto;
  max-width: 800px;
  padding: 10px;
}
#paragr{
    text-align:center;
}
header{
    width: auto;
}
#theader{
    width: auto;
    margin:auto;
    
}
#rheader{}
    
a{
    text-decoration: none;

}   

#dheader, #dheader2{
    text-align: center;
    
   
}
p{
    list-style-type: none;
    font-weight: 600;
    text-align: justify;
    
}
li{
    list-style-type: none;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
h2{
    list-style-type: none;
    text-align: center;
    
}
h3{
    list-style-type: none;
    text-align:left;
    padding: 8px;
}
footer{
    margin:auto;
    text-align: center;
}