@charset "UTF-8";
@font-face {
    font-family: 'shalimar';
    src: url(Shalimar-Regular.ttf);
}
body{
    font-family: 'shalimar';
    background-image:linear-gradient( to bottom, rgb(239, 224, 239), rgb(194, 148, 194), rgb(145, 87, 145));
    background-attachment: fixed;
    font-size: 2em;
}
header{
    text-align: center;
}
section{
      
    margin: 12px 0px 0px 0px;
  
}
aside{
    
    width: 150px;
    margin: 0px 0px 0px 0px;
   
}
footer{
    margin:;
    text-align: center;
}