@charset "UTF-8";
@font-face {
    font-family: 'shalimar';
    src: url(../_fonts/Shalimar-Regular.ttf);
}
@font-face {
    font-family: 'chewi';
    src: url(../_fonts/Chewy-Regular.ttf);
}
@font-face {
    font-family: 'handlee';
    src: url(../_fonts/Handlee-Regular.ttf);
}
body{
    font-family: 'handlee', 'Times New Roman', Times, serif;
    background-image:linear-gradient( to bottom, rgb(239, 224, 239), rgb(194, 148, 194), rgb(145, 87, 145));
    background-attachment: fixed;
    font-size: 2em;
}
section{
  background-image:linear-gradient(to bottom, rgb(212, 212, 243),rgb(183, 183, 220),rgb(148, 148, 211) );
  margin:auto;
  max-width: 900px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
}
#paragr{
    text-align:center;
}
header{
    width: auto;
}
#theader{
  margin:auto;
  max-width: 900px;
      
}
#rheader{
    text-align: center;
   
}
    
a{
    text-decoration: none;
}   

#dheader, #dheader2{
    text-align: center;
    
}
p{
    list-style-type: none;
    font-weight: 600;
    text-align: justify;
}
li{
    list-style-type: none;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}
h2{
    list-style-type: none;
    text-align: center;
    
}
h3{
    list-style-type: none;
    text-align:left;
    padding: 8px;
}
footer{
    margin:auto;
    text-align: center;
}
#fig{
    text-align: center;  
}
#v{
    position:absolute;
    text-align:left; 
}   
#a{   
    
    text-align:right;

}

/*#theader2{border: 1px solid black;  }*/